.Dashboard {
    padding: 10px;
    width: 100%;

}

.Dashboard ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.popup {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #6669;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;


}
