.Userform {
    height: 100%;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #282c34;
}

.form-container {
    width: 70vw;
    max-width: 7we00px;
    background-color: white;

    padding: 30px;

}

.form-container input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    font-size: 20px;

    margin: 10px 0;



    border: 1px solid #3333;

}

.submit-btn {
    padding: 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
}

.form-container label {
    font-weight: bold;


}

h1 {
    margin: 0;

    font-size: 45px;

    margin-bottom: 45px;
}
